.landing-banner {
  height: 100vh;
  width: 100%;
  background: #3EC8AC no-repeat;
  display: flex;
  align-items: center;
}
.landing-banner > .container > .row > .col-lg-6 {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bio-banner {
  background-color: white;
  padding: 4em 0;
}
.subdomains-banner {
  background-color: #eeeeee;
  padding: 4em 0;
  width: 100%;
}
.contact-banner {
  background-color: white;
  padding: 4em 0;
}
.footer-banner {
  background-color: #6E60A0;
  padding: 4em 0;
  color: rgba(255, 255, 255, 0.25);
  width: 100%;
}
.project-page-title {
  background-color: #FAB57A;
  padding: 4em 0;
}
.project-page-brief {
  background-color: white;
  padding: 4em 0;
}
.project-page-banner {
  background-color: #f75f5f;
  padding: 4em 0;
  color: white;
}
* {
  font-variant-ligatures: none;
   -webkit-font-variant-ligatures: none;
}
p, h3, div {
  font-family: 'Space Mono', monospace;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
}
.highlight {
  box-shadow: inset 0 -20px 0 #3EC8AC;
  transition: box-shadow 0.5s;
}
h1, h2, h4 {
  font-family: 'Montserrat', serif;
}
h1 {
  font-size: 10em;
}
h1 > div {
  font-size: 1em;
  display: inline-block;
  font-family: 'Montserrat', serif
}
.hidden {
  visibility: hidden;
}
h2 {
  font-size: 5em;
}
h4 {
  font-size: 1.5em;
}
p {
  font-size: 1.2em;
}
.projects-banner {
  padding: 4em;
  width: 100%;
  background-color: #4E90A4;
  color: white;
}
.project-preview {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.project-preview-image {
  width: 100%;
}
.project-btn {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 5px;
}
.project-preview-title {
  height: 30px;
  padding: 5px;
  padding-left: 10px;
  background-color: white;
}
.project-btn-red {
  background-color: #fe6057;
}
.project-btn-yellow {
  background-color: #ffc033;
}
.project-btn-green {
  background-color: #00ce4e;
}
.project-title {
  color: black;
  float: left;
  text-align: center;
  width: 100%;
  margin-top: -22px;
  font-weight: bold;
  font-size: 20px;
}
.project-title-buttons {
  float: left;
}
a {
  box-shadow: inset 0 -3px 0 #3EC8AC;
  color: #3EC8AC;
}
a:hover {
  text-decoration: none;
  color: white;
  box-shadow: inset 0 -3px 0 #3EC8AC;
  background: #3EC8AC
}
.project {
  margin: 5em 0;
}
.date {
  opacity: 0.5;
}
.webring {
  height: 2rem;
  box-shadow: none;
}
.webring > img {
  height: 100%;
} 
.que-2, .que-3, .que-4 {
  margin-left: -0.27em;
}