
.project1, .project2, .project3, .project-outline {
    padding: 2.4em 0;
    font-size: 2em;
    margin: 0.2em;
    color: white;
    text-align: center;
}
.project2 {
    margin-top: 0.8em;
}
.project-outline {
    border: 5px #CCC dotted;
    border-radius: 10px;
    color: #BBB;
}
.slant {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 100px;
    height: 100px;
    z-index: 0;
}
.project1 {
    background: -webkit-linear-gradient(30deg, #085078 10%, #85D8CE 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(30deg, #085078 10%, #85D8CE 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(30deg, #085078 10%, #85D8CE 90%); /* IE10 */
    background:      -o-linear-gradient(30deg, #085078 10%, #85D8CE 90%); /* Opera 11.10+ */
    background:         linear-gradient(30deg, #085078 10%, #85D8CE 90%); /* W3C */
}
.project2 {
    background: -webkit-linear-gradient(70deg, #fb2b69 10%, #ff5b37 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(70deg, #fb2b69 10%, #ff5b37 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(70deg, #fb2b69 10%, #ff5b37 90%); /* IE10 */
    background:      -o-linear-gradient(70deg, #fb2b69 10%, #ff5b37 90%); /* Opera 11.10+ */
    background:         linear-gradient(70deg, #fb2b69 10%, #ff5b37 90%); /* W3C */
}
.project3 {

    background: -webkit-linear-gradient(30deg, #614385 20%, #516395 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(30deg, #614385 20%, #516395 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(30deg, #614385 20%, #516395 90%); /* IE10 */
    background:      -o-linear-gradient(30deg, #614385 20%, #516395 90%); /* Opera 11.10+ */
    background:         linear-gradient(30deg, #614385 20%, #516395 90%); /* W3C */

}
.project4 {
    background: -webkit-linear-gradient(90deg, #76b852 10%, #8DC26F 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #76b852 10%, #8DC26F 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #76b852 10%, #8DC26F 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #76b852 10%, #8DC26F 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #76b852 10%, #8DC26F 90%); /* W3C */
}
.project5 {
    background: -webkit-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); /* W3C */
}
.project6 {

}
.large {
    font-size: 80px;
}
.blinker {
    height: 100%;
    border-left: 3px solid #EEE;
    margin-left: -3px;
    animation: 0.25s blinker infinite;
}
@keyframes blinker {
    0% { opacity: 0}
    50% {opacity: 1}
    100% { opacity: 0}
}