.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

blockquote > p:last-child {
  margin-bottom: 0;
}

.toc {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 2rem 1rem;
  display: inline-block;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .img-responsive {
      max-width: 90%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .img-responsive {
      max-width: 80%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .img-responsive {
      max-width: 70%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .img-responsive {
      max-width: 60%;
  }
}