<!DOCTYPE html>
<html lang="en-us" class="h-100" data-theme="light">
  <head>
    <title>
      {% if page.title %}{{ page.title }} {% else %} {{ site.name }} {% endif %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The page supports both dark and light color schemes, and the page author prefers / default is light. -->
    <meta name="color-scheme" content="light" />
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />

    <style type="text/tailwindcss">
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        h1 {
          @apply text-3xl font-semibold;
        }
        h2 {
          @apply text-xl;
        }
        a {
          @apply font-medium;
        }
        a:hover {
          @apply underline;
        }
        ul > li {
          @apply m-0;
          @apply p-0;
          @apply list-none;
        }
      }
    </style>
    <!-- Meta Theme Color is also supported on Safari and Chrome -->
    <meta
      name="theme-color"
      content="#eeeeee"
      media="(prefers-color-scheme: dark)"
    />
    <meta
      name="theme-color"
      content="#111111"
      media="(prefers-color-scheme: light)"
    />
  </head>

  <body>
    {{ content }}
  </body>
</html>
