@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  text-align: center;
  background-color: #EEE;
}
.container {
  margin: auto;
  font-size: 15px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  display: inline-block;
}
.row {
  text-align: left;
  padding: 0 2px;
}

/* Buttons and text */
* {
  font-family: 'Roboto', Arial, sans-serif;
}
.button, .text {
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}
.text {
  color: #444;
}
.button-right {
  float: right;
}
.button, .button-right {
  cursor: pointer;
  color: #0277BD;
  text-decoration: none;
}
.muted {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
  opacity: 0.5;
}
/* Colors */

.color, .color2, .color3 {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 -2px;
  padding: 20px;
  color: transparent;
  text-align: left;
  z-index: -1;
}
.color3 {
  width: 146.5px;
  height: 146.5px;
}
.color2 {
  width: 239.6px;
  height: 239.6px;
}
.color:hover {
  color: black;
}



.deep-orange-1 {
    background-color: #FFCCBC;
}
.deep-orange-2 {
    background-color: #FFAB91;
}
.deep-orange-3 {
    background-color: #FF8A65;
}
.deep-orange-4 {
    background-color: #FF7043;
}
.deep-orange-5 {
    background-color: #FF5722;
}
.deep-orange-6 {
    background-color: #F4511E;
}
.deep-orange-7 {
    background-color: #E64A19;
}
.deep-orange-8 {
    background-color: #D84315;
}
.deep-orange-9 {
    background-color: #BF360C;
}
.deep-orange-A1 {
    background-color: #FF9E80;
}
.deep-orange-A2 {
    background-color: #FF6E40;
}
.deep-orange-A4 {
    background-color: #FF3D00;
}
.deep-orange-A7 {
    background-color: #DD2C00;
}


.orange-5 {
    background-color: #FFF3E0;
}
.orange-1 {
    background-color: #FFE0B2;
}
.orange-2 {
    background-color: #FFCC80;
}
.orange-3 {
    background-color: #FFB74D;
}
.orange-4 {
    background-color: #FFA726;
}
.orange-5 {
    background-color: #FF9800;
}
.orange-6 {
    background-color: #FB8C00;
}
.orange-7 {
    background-color: #F57C00;
}
.orange-8 {
    background-color: #EF6C00;
}
.orange-9 {
    background-color: #E65100;
}
.orange-A1 {
    background-color: #FFD180;
}
.orange-A2 {
    background-color: #FFAB40;
}
.orange-A4 {
    background-color: #FF9100;
}
.orange-A7 {
    background-color: #FF6D00;
}




.amber-1 {
    background-color: #FFECB3;
}
.amber-2 {
    background-color: #FFE082;
}
.amber-3 {
    background-color: #FFD54F;
}
.amber-4 {
    background-color: #FFCA28;
}
.amber-5 {
    background-color: #FFC107;
}
.amber-6 {
    background-color: #FFB300;
}
.amber-7 {
    background-color: #FFA000;
}
.amber-8 {
    background-color: #FF8F00;
}
.amber-9 {
    background-color: #FF6F00;
}
.amber-A1 {
    background-color: #FFE57F;
}
.amber-A2 {
    background-color: #FFD740;
}
.amber-A4 {
    background-color: #FFC400;
}
.amber-A7 {
    background-color: #FFAB00;
}


.yellow-1 {
    background-color: #FFF9C4;
}
.yellow-2 {
    background-color: #FFF59D;
}
.yellow-3 {
    background-color: #FFF176;
}
.yellow-4 {
    background-color: #FFEE58;
}
.yellow-5 {
    background-color: #FFEB3B;
}
.yellow-6 {
    background-color: #FDD835;
}
.yellow-7 {
    background-color: #FBC02D;
}
.yellow-8 {
    background-color: #F9A825;
}
.yellow-9 {
    background-color: #F57F17;
}
.yellow-A1 {
    background-color: #FFFF8D;
}
.yellow-A2 {
    background-color: #FFFF00;
}
.yellow-A4 {
    background-color: #FFEA00;
}
.yellow-A7 {
    background-color: #FFD600;
}


.teal-1 {
    background-color: #B2DFDB;
}
.teal-2 {
    background-color: #80CBC4;
}
.teal-3 {
    background-color: #4DB6AC;
}
.teal-4 {
    background-color: #26A69A;
}
.teal-5 {
    background-color: #009688;
}
.teal-6 {
    background-color: #00897B;
}
.teal-7 {
    background-color: #00796B;
}
.teal-8 {
    background-color: #00695C;
}
.teal-9 {
    background-color: #004D40;
}
.teal-A1 {
    background-color: #A7FFEB;
}
.teal-A2 {
    background-color: #64FFDA;
}
.teal-A4 {
    background-color: #1DE9B6;
}
.teal-A7 {
    background-color: #00BFA5;
}



.green-1 {
    background-color: #C8E6C9;
}
.green-2 {
    background-color: #A5D6A7;
}
.green-3 {
    background-color: #81C784;
}
.green-4 {
    background-color: #66BB6A;
}
.green-5 {
    background-color: #4CAF50;
}
.green-6 {
    background-color: #43A047;
}
.green-7 {
    background-color: #388E3C;
}
.green-8 {
    background-color: #2E7D32;
}
.green-9 {
    background-color: #1B5E20;
}
.green-A1 {
    background-color: #B9F6CA;
}
.green-A2 {
    background-color: #69F0AE;
}
.green-A4 {
    background-color: #00E676;
}
.green-A7 {
    background-color: #00C853;
}



.light-green-1 {
    background-color: #DCEDC8;
}
.light-green-2 {
    background-color: #C5E1A5;
}
.light-green-3 {
    background-color: #AED581;
}
.light-green-4 {
    background-color: #9CCC65;
}
.light-green-5 {
    background-color: #8BC34A;
}
.light-green-6 {
    background-color: #7CB342;
}
.light-green-7 {
    background-color: #689F38;
}
.light-green-8 {
    background-color: #558B2F;
}
.light-green-9 {
    background-color: #33691E;
}
.light-green-A1 {
    background-color: #CCFF90;
}
.light-green-A2 {
    background-color: #B2FF59;
}
.light-green-A4 {
    background-color: #76FF03;
}
.light-green-A7 {
    background-color: #64DD17;
}



.lime-1 {
    background-color: #F0F4C3;
}
.lime-2 {
    background-color: #E6EE9C;
}
.lime-3 {
    background-color: #DCE775;
}
.lime-4 {
    background-color: #D4E157;
}
.lime-5 {
    background-color: #CDDC39;
}
.lime-6 {
    background-color: #C0CA33;
}
.lime-7 {
    background-color: #AFB42B;
}
.lime-8 {
    background-color: #9E9D24;
}
.lime-9 {
    background-color: #827717;
}
.lime-A1 {
    background-color: #F4FF81;
}
.lime-A2 {
    background-color: #EEFF41;
}
.lime-A4 {
    background-color: #C6FF00;
}
.lime-A7 {
    background-color: #AEEA00;
}



.indigo-1 {
    background-color: #C5CAE9;
}
.indigo-2 {
    background-color: #9FA8DA;
}
.indigo-3 {
    background-color: #7986CB;
}
.indigo-4 {
    background-color: #5C6BC0;
}
.indigo-5 {
    background-color: #3F51B5;
}
.indigo-6 {
    background-color: #3949AB;
}
.indigo-7 {
    background-color: #303F9F;
}
.indigo-8 {
    background-color: #283593;
}
.indigo-9 {
    background-color: #1A237E;
}
.indigo-A1 {
    background-color: #8C9EFF;
}
.indigo-A2 {
    background-color: #536DFE;
}
.indigo-A4 {
    background-color: #3D5AFE;
}
.indigo-A7 {
    background-color: #304FFE;
}



.blue-1 {
    background-color: #BBDEFB;
}
.blue-2 {
    background-color: #90CAF9;
}
.blue-3 {
    background-color: #64B5F6;
}
.blue-4 {
    background-color: #42A5F5;
}
.blue-5 {
    background-color: #2196F3;
}
.blue-6 {
    background-color: #1E88E5;
}
.blue-7 {
    background-color: #1976D2;
}
.blue-8 {
    background-color: #1565C0;
}
.blue-9 {
    background-color: #0D47A1;
}
.blue-A1 {
    background-color: #82B1FF;
}
.blue-A2 {
    background-color: #448AFF;
}
.blue-A4 {
    background-color: #2979FF;
}
.blue-A7 {
    background-color: #2962FF;
}


.light-blue-1 {
    background-color: #B3E5FC;
}
.light-blue-2 {
    background-color: #81D4FA;
}
.light-blue-3 {
    background-color: #4FC3F7;
}
.light-blue-4 {
    background-color: #29B6F6;
}
.light-blue-5 {
    background-color: #03A9F4;
}
.light-blue-6 {
    background-color: #039BE5;
}
.light-blue-7 {
    background-color: #0288D1;
}
.light-blue-8 {
    background-color: #0277BD;
}
.light-blue-9 {
    background-color: #01579B;
}
.light-blue-A1 {
    background-color: #80D8FF;
}
.light-blue-A2 {
    background-color: #40C4FF;
}
.light-blue-A4 {
    background-color: #00B0FF;
}
.light-blue-A7 {
    background-color: #0091EA;
}


.cyan-1 {
    background-color: #B2EBF2;
}
.cyan-2 {
    background-color: #80DEEA;
}
.cyan-3 {
    background-color: #4DD0E1;
}
.cyan-4 {
    background-color: #26C6DA;
}
.cyan-5 {
    background-color: #00BCD4;
}
.cyan-6 {
    background-color: #00ACC1;
}
.cyan-7 {
    background-color: #0097A7;
}
.cyan-8 {
    background-color: #00838F;
}
.cyan-9 {
    background-color: #006064;
}
.cyan-A1 {
    background-color: #84FFFF;
}
.cyan-A2 {
    background-color: #18FFFF;
}
.cyan-A4 {
    background-color: #00E5FF;
}
.cyan-A7 {
    background-color: #00B8D4;
}


.red-1 {
    background-color: #FFCDD2;
}
.red-2 {
    background-color: #EF9A9A;
}
.red-3 {
    background-color: #E57373;
}
.red-4 {
    background-color: #EF5350;
}
.red-5 {
    background-color: #F44336;
}
.red-6 {
    background-color: #E53935;
}
.red-7 {
    background-color: #D32F2F;
}
.red-8 {
    background-color: #C62828;
}
.red-9 {
    background-color: #B71C1C;
}
.red-A1 {
    background-color: #FF8A80;
}
.red-A2 {
    background-color: #FF5252;
}
.red-A4 {
    background-color: #FF1744;
}
.red-A7 {
    background-color: #D50000;
}


.pink-1 {
    background-color: #F8BBD0;
}
.pink-2 {
    background-color: #F48FB1;
}
.pink-3 {
    background-color: #F06292;
}
.pink-4 {
    background-color: #EC407A;
}
.pink-5 {
    background-color: #E91E63;
}
.pink-6 {
    background-color: #D81B60;
}
.pink-7 {
    background-color: #C2185B;
}
.pink-8 {
    background-color: #AD1457;
}
.pink-9 {
    background-color: #880E4F;
}
.pink-A1 {
    background-color: #FF80AB;
}
.pink-A2 {
    background-color: #FF4081;
}
.pink-A4 {
    background-color: #F50057;
}
.pink-A7 {
    background-color: #C51162;
}


.purple-1 {
    background-color: #E1BEE7;
}
.purple-2 {
    background-color: #CE93D8;
}
.purple-3 {
    background-color: #BA68C8;
}
.purple-4 {
    background-color: #AB47BC;
}
.purple-5 {
    background-color: #9C27B0;
}
.purple-6 {
    background-color: #8E24AA;
}
.purple-7 {
    background-color: #7B1FA2;
}
.purple-8 {
    background-color: #6A1B9A;
}
.purple-9 {
    background-color: #4A148C;
}
.purple-A1 {
    background-color: #EA80FC;
}
.purple-A2 {
    background-color: #E040FB;
}
.purple-A4 {
    background-color: #D500F9;
}
.purple-A7 {
    background-color: #AA00FF;
}

.deep-purple-1 {
    background-color: #D1C4E9;
}
.deep-purple-2 {
    background-color: #B39DDB;
}
.deep-purple-3 {
    background-color: #9575CD;
}
.deep-purple-4 {
    background-color: #7E57C2;
}
.deep-purple-5 {
    background-color: #673AB7;
}
.deep-purple-6 {
    background-color: #5E35B1;
}
.deep-purple-7 {
    background-color: #512DA8;
}
.deep-purple-8 {
    background-color: #4527A0;
}
.deep-purple-9 {
    background-color: #311B92;
}
.deep-purple-A1 {
    background-color: #B388FF;
}
.deep-purple-A2 {
    background-color: #7C4DFF;
}
.deep-purple-A4 {
    background-color: #651FFF;
}
.deep-purple-A7 {
    background-color: #6200EA;
}

/* This stuff dictates which colors' text should be white to improve contrast. It's a mess, but it's a *functional* mess. */

.red-4:hover, .red-5:hover, .red-6:hover, .red-7:hover, .red-8:hover, .red-9:hover, .pink-3:hover, .pink-4:hover, .pink-5:hover, .pink-6:hover, .pink-7:hover, .pink-8:hover, .pink-9:hover, .purple-3:hover, .purple-4:hover, .purple-5:hover, .purple-6:hover, .purple-7:hover, .purple-8:hover, .purple-9:hover, .deep-purple-3:hover, .deep-purple-4:hover, .deep-purple-5:hover, .deep-purple-6:hover, .deep-purple-7:hover, .deep-purple-8:hover, .deep-purple-9:hover, .indigo-3:hover, .indigo-4:hover, .indigo-5:hover, .indigo-6:hover, .indigo-7:hover, .indigo-8:hover, .indigo-9:hover, .blue-5:hover, .blue-6:hover, .blue-7:hover, .blue-8:hover, .blue-9:hover, .light-blue-6:hover, .light-blue-7:hover, .light-blue-8:hover, .light-blue-9:hover, .cyan-7:hover, .cyan-8:hover, .cyan-9:hover, .teal-5:hover, .teal-6:hover, .teal-7:hover, .teal-8:hover, .teal-9:hover, .green-6:hover, .green-7:hover, .green-8:hover, .green-9:hover, .light-green-7:hover, .light-green-8:hover, .light-green-9:hover, .lime-9:hover, .orange-8:hover, .orange-9:hover, .deep-orange-5:hover, .deep-orange-6:hover, .deep-orange-7:hover, .deep-orange-8:hover, .deep-orange-9:hover, .red-A2:hover,  .red-A4:hover,  .red-A7:hover,  .pink-A2:hover,  .pink-A4:hover,  .pink-A7:hover,  .purple-A2:hover,  .purple-A4:hover,  .purple-A7:hover,  .deep-purple-A2:hover,  .deep-purple-A4:hover,  .deep-purple-A7:hover,  .indigo-A2:hover,  .indigo-A4:hover,  .indigo-A7:hover,  .blue-A2:hover,  .blue-A4:hover,  .blue-A7:hover,  .light-blue-A7:hover,  .deep-orange-A4:hover,  .deep-orange-A7:hover
{
    color: white !important;
}